/* --------------- awards style2 --------------- */
.tc-awards-style2 {
    position: relative;
    padding: 110px 0;

    .award-card {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 30px;
        margin-top: 30px;
        transition: all 0.3s ease;
        &:hover {
            border-color: var(--color-orange1);
            a {
                color: #000 !important;
                text-decoration: underline;
            }
        }
        .logo {
            height: 35px;
        }
        .title {
            display: flex;
            align-items: end;
            margin: 15px 0;
            min-height: 90px;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-awards-style2 {
        padding: 80px 0;
    }
}