/* --------------- blog style2 --------------- */
.tc-blog-style2 {
    position: relative;
    padding: 110px 0;
    background-color: #F1EEE9;

    .row {
        .col-lg-3 {
            &:nth-of-type(1){
                .blog-card {
                    .img {
                        height: 250px;
                    }
                }
            }
            &:nth-of-type(2){
                .blog-card {
                    .img {
                        height: 300px;
                    }
                }
            }
            &:nth-of-type(3){
                .blog-card {
                    .img {
                        height: 210px;
                    }
                }
            }
            &:nth-of-type(4){
                .blog-card {
                    .img {
                        height: 250px;
                    }
                }
            }
        }
    }

    .blog-card {
        margin-top: 40px;
        .img {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            display: block;
            .arrow {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #fff;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                z-index: 10;
            }
        }
        .info {
            .tags {
                margin-top: 20px;
                a {
                    text-transform: uppercase;
                    position: relative;
                    margin-inline-end: 15px;
                    padding-inline-end: 25px;
                    &::after {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: calc(50% - 2px);
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #999;
                    }
                    &:last-of-type {
                        padding: 0;
                        margin: 0;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
 
}

@media screen and (max-width: 991px) {
    .tc-blog-style2 {
        padding: 80px 0;
        .blog-card {
            .img {
                height: 300px !important;
            }
        }
    }
}