/* --------------- header style2 --------------- */
.tc-header-style2 {
    position: relative;
    padding-top: 120px;

    .top-info {
        h1 {
            font-size: 90px;
            font-weight: 600;
            span {
                color: var(--color-orange1);
                font-style: italic;
                font-weight: 400;
            }
        }
        .award-wrapper {
            display: inline-flex;
            align-items: center;
            padding: 10px 40px;
            border: 1px solid #999;
            border-radius: 50px;
            margin-top: 70px;
            p{
                font-size: 18px;
            }
            .line {
                width: 60px;
                height: 1px;
                background-color: #999;
                margin: 0 30px;
            }
        }

        .facts-wrapper {
            position: relative;
            padding: 30px 40px;

            * {
                position: relative;
                z-index: 10;
            }

            .num {
                font-size: 60px;
                font-weight: 400;
            }

            p {
                color: #666;
            }

            .line {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                z-index: 0;
            }

        }
    }

    .slider-content {
        margin-top: 120px;
        padding: 0 3vw;
        
        .head-slider {
            position: relative;
            overflow: hidden;

            .slider-card {
                position: relative;
                
                .img {
                    position: relative;
                    height: 650px;
                    border-radius: 20px;
                    overflow: hidden;
                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to top , #000000cb , transparent);
                    }
                }

                .info {
                    position: absolute;
                    left: 0;
                    bottom: 50px;
                    color: #fff;
                    z-index: 20;
                    width: 100%;
                    .title {
                        a {
                            font-size: 60px;
                            font-weight: 500;
                            &:hover {
                                color: var(--color-orange1);
                            }
                        }
                    }
                    .tags {
                        margin-bottom: 30px;
                        display: flex;
                        a {
                            padding: 10px 30px;
                            border-radius: 30px;
                            background-color: #fff;
                            color: #000;
                            font-weight: 500;
                        }
                    }
                }

            }
    
    
            .controls {
                position: absolute;
                right: 150px;
                bottom: -1px;
                width: 350px;
                z-index: 5;
                display: flex;
                align-items: center;
                padding: 20px 40px;

                .cont-bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    position: static;
                    width: 45px;
                    height: 45px;
                    border-radius: 10px;
                    border: 1px solid #9999;
                    flex-shrink: 0;
                    margin: 0;
                    transition: all 0.3s ease;
                    &::after {
                        font-size: 14px;
                        color: #000;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        background-color: #000;
                        border-color: #000;
                        &::after {
                            color: #fff;
                        }
                    }
                }

                .swiper-pagination {
                    position: static;
                    .swiper-pagination-bullet {
                        margin: 0 5px;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: var(--color-orange1);
                    }
                }

            }
    
        }

    }

    .head-features {
        margin-top: 50px;
        padding-bottom: 120px;
        border-bottom: 1px solid #ccc;
        .feat-card {
            display: flex;
            align-items: center;
            margin-top: 30px;
            .icon {
                width: 60px;
                height: 60px;
                border-radius: 50px;
                background-color: #F1EEE9;
                color: var(--color-orange1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-inline-end: 20px;
                flex-shrink: 0;
                font-size: 18px;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-header-style2 {
        padding-top: 80px;
        .top-info {
            h1 {
                font-size: 50px;
            }
            .award-wrapper {
                p {
                    font-size: 12px;
                    flex-shrink: 0;
                }
            }
            .facts-wrapper {
                margin-top: 50px;
            }
        }
        .slider-content {
            margin-top: 80px;
            .head-slider {
                .slider-card {
                    .img {
                        height: 400px;
                    }
                    .info {
                        bottom: 100px;
                        .title {
                            a {
                                font-size: 35px;
                            }
                        }
                    }
                }
                .controls {
                    right: 50%;
                    transform: translateX(50%);
                    width: 300px;
                    padding: 15px 25px;
                }
            }
        }
        .head-features {
            padding-bottom: 80px;
        }
    }
}