/* --------------- footer style2 --------------- */
.tc-projects-style2 {
    position: relative;
    padding-top: 110px;

    .tabs-links {
        .nav-pills {
            .nav-link {
                background-color: transparent;
                padding: 0;
                margin-inline-end: 40px;
                font-size: 18px;
                font-weight: 500;
                border-radius: 0;
                text-transform: capitalize;
                color: #666;
                &.active,
                &:hover {
                    color: #000;
                }
            }
        }
    }

    .projects-slider-content {
        padding: 0 3vw;
        position: relative;
        overflow: hidden;
        .projects-slider {
            position: relative;
            overflow: hidden;
            padding-bottom: 120px;
            .controls {
                position: absolute;
                bottom: 0;
                width: 100%;
                .swiper-pagination {
                    display: flex;
                    bottom: 0;
                    position: static;
                    .swiper-pagination-bullet {
                        margin: 0;
                        flex-grow: 1;
                        height: 1px;
                        border-radius: 0;
                        background-color: #ccc;
                        opacity: 1;
                        &.swiper-pagination-bullet-active {
                            height: 3px;
                            background-color: var(--color-orange1);
                            margin-top: -1px;
                        }
                    }
                }
            }
        }
    }

    .project-card {
        position: relative;
        &:hover {
            .img {
                .arrow {
                    background-color: var(--color-orange1);
                    color: #fff;
                }
            }
        }
        .img {
            height: 650px;
            position: relative;
            border-radius: 0 20px 20px 20px;
            overflow: hidden;
            display: block;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.3;
            }
            .year {
                position: absolute;
                top: 0;
                left: 0;
                width: 40%;
                padding: 30px 20px 40px 10px;
                text-align: center;
                // background-color: #fff;
                color: #000;
                z-index: 10;
                .txt {
                    position: relative;
                    z-index: 10;
                    font-size: 18px;
                }
                .bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .arrow {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #fff;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                z-index: 10;
            }
        }
        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 90%;
            padding: 40px;
            color: #fff;
            .title {
                font-size: 35px;
                font-weight: 500;
            }
            .tags {
                margin-bottom: 30px;
                display: flex;
                a {
                    padding: 8px 20px;
                    border-radius: 30px;
                    background-color: #fff;
                    color: #000;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-projects-style2 {
        padding-top: 80px;
        .tabs-links {
            .nav-pills {
                .nav-link {
                    margin-inline-end: 15px;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
        .project-card {
            .img {
                height: 400px;
            }
            .info {
                .title {
                    font-size: 25px;
                }
            }
        }
    }
}