/* --------------- portfolio style4 --------------- */
.tc-portfolio-style4 {
    position: relative;
    padding: 160px 0 0;

    .content {
        position: relative;
        padding-bottom: 160px;
        border-bottom: 1px solid #b4b4b4;
    }


    .projects {
        display: flex;
        flex-wrap: wrap;

        .work-card {
            position: relative;
            display: block;

            .img {
                clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
                transform: scale(1.2);
                filter: blur(5px);
                transition: clip-path .8s ease-in-out .3s, transform .8s ease-in-out 1.1s, filter .8s ease-in-out 1.1s;
                position: relative;
                &.animated {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    transform: scale(1);
                    filter: blur(0px);
                }
            }

            &:hover {
                h5 {
                    color: var(--color-green1);
                }
            }
            h5 {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 400;
                margin-top: 40px;
                transition: all 0.3s ease;
            }

            &:nth-of-type(1) {
                margin-top: 450px;
                transform: translateX(-100px);
                width: 435px;
                .img {
                    height: 435px;
                }
            }

            &:nth-of-type(2) {
                margin-top: 120px;
                margin-inline-end: 0;
                margin-inline-start: auto;
                width: 850px;
                .img {
                    height: 540px;
                }
            }

            &:nth-of-type(3) {
                margin-top: 150px;
                width: 850px;
                .img {
                    height: 850px;
                }
            }

            &:nth-of-type(4) {
                margin-top: 10px;
                margin-inline-end: 0;
                margin-inline-start: auto;
                transform: translateX(100px);
                width: 435px;
                .img {
                    height: 540px;
                }
            }

            &:nth-of-type(5) {
                margin-top: 150px;
                margin-left: -100px;
                width: 435px;
                .img {
                    height: 435px;
                }
            }

            &:nth-of-type(6) {
                margin-top: 150px;
                transform: translateX(115px);
                width: 950px;
                .img {
                    height: 670px;
                }
            }

        }
    }

    .pr-link {
        font-size: 48px;
        text-transform: uppercase;
        margin-top: 170px;
        margin-inline-start: 35%;
        .icon {
            display: block;
            margin-top: 30px;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-portfolio-style4 {
        overflow: hidden;
        .projects .work-card {
            width: 100% !important;
            margin: 20px 0 !important;
            transform: translateX(0) !important;
            .img {
                height: 300px !important;
            }
        }
        .pr-link {
            font-size: 25px;
            text-transform: uppercase;
            margin-top: 50px;
            margin-inline-start: 0;
            .icon {
                display: inline-block;
                margin-inline-start: 20px;
            }
        }
    }
}