/* ========= [ * page-home_7 ]  =========*/


// navbar
@import 'navbar';


// header
@import 'header';


// about
@import 'about';


// services
@import 'services';


// projects
@import 'projects';


// proccess
@import 'proccess';


// testimonials
@import 'testimonials';


// blog
@import 'blog';


// footer
@import 'footer';


// ------------ home style ------------
.home-style7 {
    // font-family: 'Plus Jakarta Sans', sans-serif;

    .sub-font {
        font-family: 'Instrument Serif', serif;
    }
    
}

@media screen and (max-width: 991px) {
    .home-style7 {
        br{
            display: none;
        }
        .fsz-50 {
            font-size: 30px !important;
        }
        .fsz-40 {
            font-size: 25px !important;
        }
        .mb-90 {
            margin-bottom: 40px !important;
        }
        .fsz-30 {
            font-size: 18px !important;
        }

        .mt-70 {
            margin-top: 40px !important;
        }

        .fsz-60 {
            font-size: 40px !important;
        }

        .mt-100 {
            margin-top: 50px !important;
        }

        section {
            padding: 80px 0;
        }
    }
}
