/* --------------- testimonial style5 --------------- */
.tc-testimonial-style5 {
    position: relative;
    padding-top: 200px;
    z-index: 10;

    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 5vw;
        height: 100%;
        background-color: #1F2528;
        pointer-events: none;
    }

    .quote {
        position: absolute;
        right: 0;
        bottom: -15px;
        height: 150px;
    }

}

@media screen and (max-width: 991px) {
    .tc-testimonial-style5 {

    }
}