/* --------------- global --------------- */

*,
* button:focus {
    outline: 0;
    margin: 0;
}

html::-webkit-scrollbar {
    height: 20px;
    width: 10px;
    background: #f1f1f1;
    border-radius: 0;
}

html::-webkit-scrollbar-thumb {
    background: #999;
    -webkit-border-radius: 0;
    border-radius: 10px;
}

html::-webkit-scrollbar-corner {
    background: #999;
    border-radius: 10px;
}


body {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
    color: #000;
    // background-color: #F5F6F8;
    // font-weight: 500;
}

.swiper-container{
    overflow: hidden;
}

.swiper-notification{
    display: none;
}

.form-control:focus{
    box-shadow: none;
}

.navbar{
    z-index: 99;
}

h1,h2,h3{
    font-weight: bold;
    margin: 0;
}

h4,h5,h6 {
    margin: 0;
}

.container,
.container-fluid{
    position: relative;
    z-index: 5;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1330px !important;
    padding-right: 15px;
    padding-left: 15px;
}

.row:not(.gx-0):not(.gx-1):not(.gx-2):not(.gx-3):not(.gx-4):not(.gx-5):not(.gx-lg-5) {
    margin-right: -15px;
    margin-left: -15px;
    &>* {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.row.gx-5,.row.gx-lg-5 {
    margin-right: -30px;
    margin-left: -30px;
    &>* {
        padding-right: 30px;
        padding-left: 30px;
    }
}

body a:focus {
    outline: 0;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body ul:not(.list-styled) {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    -webkit-appearance: none;
}

.btn:active,
.btn:active:focus,
.btn:active:hover,
.btn:focus,
.btn:hover,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    outline: 0;
}

a,
span,
img {
    display: inline-block;
    transition: all 0.3s ease;
    color: inherit;
    text-decoration: none;
}


img {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 14px;
    // color: #666;
    line-height: 1.7;
    margin: 0;
}

i,
.bi{
    display: inline-flex;
}

.text {
    font-size: 14px;
    line-height: 1.8;
    // color: #1b1b1b;
}

.small, small {
    font-size: 12px;
    display: inline-block;
}

small.text {
    font-size: 12px;
}

.section-padding {
    padding: 100px 0;
}

.df-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.dnf-center{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.fm-playfair{
    font-family: 'Playfair Display', serif;
}

/* Preloader
-----------------------------------------------------------------*/
body.loaded {
    // overflow: hidden !important;
    // height: 100% !important;
  }
  
  .loader-wrap {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    z-index: 99999999999999;
  }
  .loader-wrap svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
    fill: #000;
  }
  .loader-wrap .loader-wrap-heading .load-text {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 15px;
    text-transform: uppercase;
    z-index: 20;
    color: #fff;
  }
  
  .load-text span {
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate;
  }
  .load-text span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .load-text span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .load-text span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .load-text span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .load-text span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .load-text span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .load-text span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  @-webkit-keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* ====================== [ Start mouse-cursor ] ====================== */
.swiper-wrapper.curs-scroll {
    cursor: none;
}

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
}

.cursor-inner {
    margin-left: -2px;
    margin-top: -2px;
    width: 5px;
    height: 5px;
    z-index: 10000001;
    background-color: #0379a455;
    transition: width .3s ease-in-out,
                height .3s ease-in-out,
                margin .3s ease-in-out,
                opacity .3s ease-in-out;
    opacity: 1;
}

.cursor-inner.cursor-hover {
    opacity: 1;
}

// .cursor-inner.cursor-scroll {
//   background: url(../img/icons/double-arrow.png);
//   background-size: contain;
//   background-position: center center;
//   background-repeat: no-repeat;
//   margin-left: -11px;
//   margin-top: -11px;
//   width: 22px;
//   height: 22px; }

.cursor-outer {
    margin-left: -17px;
    margin-top: -17px;
    width: 34px;
    height: 34px;
    border: 1px solid #0379a455;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .5;
    z-index: 10000000;
    transition: width .3s ease-in-out,
        height .3s ease-in-out,
        margin .3s ease-in-out,
        background-color .3s,
        opacity .3s;
    opacity: 1;
}

.cursor-outer.cursor-hover {
    opacity: 1;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: #0379a455 !important;
    border: 1px solid #fff9;
    opacity: .3 !important;
}

.cursor-outer.cursor-scroll {
    margin-left: -35px;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    border-color: transparent;
    background-color: #fff;
    opacity: 1;
}

/* ====================== [ End mouse-cursor ] ====================== */
  

/* --------------- dropdown --------------- */

.dropdown-toggle::after {
    position: relative;
    top: 3px;
    opacity: 0.8;
    content: "\f078";
    display: inline-block;
    font-family: "Font Awesome 5 Pro";
    border: 0;
    line-height: 1;
    font-size: 0.8em;
}

.dropdown-menu {
    min-width: 200px;
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 20px #0001;
    top: 100%;
    .dropdown-item {
        padding: 10px 20px;
        font-size: 14px;
        border-bottom: 1px solid #9992;
    }
}

/* --------------- forms --------------- */
select,
input{
    &:focus{
        box-shadow: none !important;
    }
}

/* --------------- to_top button --------------- */
.to_top {
    position: fixed;
    z-index: 9999;
    bottom: 3vw;
    right: -80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #999;
    border: 1px solid #999;
    font-size: 11px;
    text-align: center;
    padding: 7px;
    line-height: 1;
    opacity: 0;
    transition: all 0.4s ease;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    small {
        display: block;
        text-transform: uppercase;
        transition: all 0.4s ease;
        font-size: 8px;
    }
    i {
        transition: all 0.4s ease;
    }
    &.show {
        right: 3vw;
        opacity: 1;
    }
}



// ---------- animations ------------
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
*/
.rotate-center{
    -webkit-animation: rotate-center 100s linear infinite both;
            animation: rotate-center 100s linear infinite both;

    &.reverse{
        -webkit-animation: rotate-center 100s linear infinite both reverse;
                animation: rotate-center 100s linear infinite both reverse;
    }
}
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/**
 * ----------------------------------------
 * animation slide_up_down
 * ----------------------------------------
*/
.slide-up-down{
    -webkit-animation: slide_up_down 1.7s ease-in-out infinite alternate both;
            animation: slide_up_down 1.7s ease-in-out infinite alternate both;
}

 /* ------- */

 @-webkit-keyframes slide_up_down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
  @keyframes slide_up_down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }

//   -------- home2 apperance animation ---------
.left_to_right_apperance{
    transform: scale(1.2);
    transition: all .8s ease-in-out;
    transition-delay: .4s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    &.no_scale {
        transform: scale(1);
    }
    &.animated{
       transform: scale(1);
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.right_to_left_apperance{
    transform: scale(1.2);
    transition: all .8s ease-in-out;
    transition-delay: .4s;
    clip-path: polygon(99% 0, 100% 0, 100% 100%, 100% 100%);
    &.no_scale {
        transform: scale(1);
    }
    &.animated{
       transform: scale(1);
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}



