/* --------------- about style10 --------------- */
.tc-about-style10 {

    .img {
        position: relative;
        .years-box {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
            padding: 30px;
            border-bottom-left-radius: 20px;
            background-color: #f1f1f1;
            h4 {
                font-size: 70px;
                margin-bottom: 15px;
            }
        }
    }

    .about-maquee {
        padding: 50px 0;
        a{
            font-size: 22px;
            color: #999;
            text-transform: capitalize;
            padding-inline-end: 100px;
            position: relative;
            &:hover {
                color: #000;
            }
            &::after {
                position: absolute;
                content: "";
                right: 52px;
                top: calc(50% - 3px);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #000;
            }
        }

            .swiper-wrapper {
               -webkit-transition-timing-function: linear !important;
               transition-timing-function: linear !important;
               position: relative;
           }
            .swiper-slide{
               width: max-content !important;
            }
    }

}

@media screen and (max-width: 991px) {
    .tc-about-style10 {
        .img {
            margin-bottom: 30px;
            .years-box {
                padding: 20px;
                h4 {
                    font-size: 40px;
                }
            }
        }
    }
}