/* --------------- awards-clients style10 --------------- */
.tc-awards-clients-style10 {

    .tc-awards-style10 {
        background-color: #F1EEE9;

        .awards-list {
            border-bottom: 1px solid #ccc;
            .award-row{
                padding: 30px 0;
                border-top: 1px solid #ccc;
                text-transform: capitalize;
                a{
                    text-decoration: underline;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

    }

    .tc-clients-style10 {
        background-color: #27292C;
        color: #fff;
        height: 100%;
        position: relative;

        .clients-slider1 {
            position: relative;
            overflow: hidden;
        }

        .author {
            display: flex;
            align-items: center;
            .au-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                margin-inline-end: 20px;
            }
        }

        .slider-controls {
            display: inline-flex;
            align-items: center;
            padding: 10px 20px;
            border-radius: 30px;
            color: #fff;
            border: 1px solid #fff5;
            .swiper-button-next,
            .swiper-button-prev {
                position: static;
                height: max-content;
                margin: 0;
                &::after {
                    color: #fff;
                    font-size: 12px;
                }
            }
            .swiper-pagination {
                position: static;
                margin: 0 10px;
                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    background-color: #fff;
                    margin: 0 5px;
                    .swiper-pagination-bullet-active {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 991px) {
    .tc-awards-clients-style10 {

    }
}