/* --------------- footer style10 --------------- */
.tc-footer-style10 {

    background-color: #DFE3EC;

    .foot-social {
        a {
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            margin-inline-end: 10px;
            background-color: #fff;
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .foot {
        padding: 30px 0;
        border-top: 1px solid #ccc;
        .foot-links {
            a {
                font-size: 13px;
                margin-inline-end: 4vw;
                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-footer-style10 {

    }
}