/* --------------- header style10 --------------- */
.tc-header-style10 {

    .header-slider {
        position: relative;
        overflow: hidden;

        .swiper-slide {
            position: relative;
            overflow: hidden;
            width: 100%;
          }

        .swiper-slide-active {
            position: relative;
            z-index: 20;
        }

        .slider-controls {
            position: absolute;
            right: 40px;
            bottom: 40px;
            z-index: 20;
            display: flex;
            align-items: center;
            background-color: #0009;
            padding: 10px 20px;
            border-radius: 30px;
            color: #fff;
            .swiper-button-next,
            .swiper-button-prev {
                position: static;
                height: max-content;
                margin: 0;
                &::after {
                    color: #fff;
                    font-size: 12px;
                }
            }
            .swiper-pagination {
                position: static;
                margin: 0 10px;
            }
        }

    }

    .slider-card {
        position: relative;
        .img {
            height: 650px;
            position: relative;
            min-height: 100vh;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 30%;
                pointer-events: none;
            }
        }
        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 20;
            color: #fff;
            h1 {
                font-size: calc(12vw + 20px);
                font-weight: 500;
                text-shadow: 0 0 2px #000;
                line-height: 1;
            }
        }
        .float-box {
            position: absolute;
            right: 40px;
            top: 180px;
            background-color: #fff;
            border-bottom-left-radius: 25px;
            padding: 50px;
            width: 350px;
            // height: 360px;
            h4 {
                font-weight: 500;
                font-size: 43px;
                line-height: 60px;
            }
        }

        
    }

}

@media screen and (max-width: 991px) {
    .tc-header-style10 {
        .slider-card {
            .float-box {
                padding: 30px;
                top: 40px;
                width: 230px;
                h4 {
                    font-size: 30px;
                    line-height: 1.5;
                }
                .fsz-20 {
                    font-size: 14px !important;
                }
                .mt-50 {
                    margin-top: 20px !important;
                }
            }
            .img {
                height: 550px;
            }
            .info {
                bottom: 60px;
            }
        }
    }
}