/* --------------- team style10 --------------- */
.tc-team-style10 {

    .member-colmn {
        margin: auto;
    }
    
    .team-card {
        position: relative;
        margin-bottom: 40px;
        display: block;
        &:hover {
            .img {
                transform: scale(0.95);
                img {
                    transform: scale(1.2);
                }
                &::after {
                    opacity: 0.5;
                }
            }
            .title {
                opacity: 1;
                top: 50%;
            }
            .img {
                transition: all 0.5s ease;
                overflow: hidden;
                img {
                    transition: all 0.5s ease;
                }
            }
        }
        &.team-text {
            &:hover {
                .img {
                    border-color: #000;
                }
            }
            .img {
                border: 1px solid #ccc;
                &::after {
                    display: none;
                }
            }
            .title {
                font-weight: 300;
                color: #000 !important;
                text-align: start;
                opacity: 1;
                display: flex;
                justify-content: center;
                font-size: 18px;
                text-transform: uppercase;
                .arrow {
                    margin-top: 10px;
                    display: block;
                }
            }
        }

        .img {
            position: relative;
            width: 100%;
            // height: 13.5vw;
            // width: 13.5vw;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin: auto;
            transition: all 0.3s ease;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0;
                z-index: 1;
                transition: all 0.3s ease;
            }
        }

        .title {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            color: #fff;
            opacity: 0;
            text-align: center;
            width: 100%;
            transition: all 0.3s ease;
            line-height: 1.5;
            text-transform: capitalize;
        }
    }

    .numbers {
        padding-top: 50px;
        .number-card {
            display: flex;
            align-items: center;
            padding-top: 40px;
            border-top: 1px solid #ccc;
            margin-top: 50px;
            .perc {
                font-size: 55px;
                flex-shrink: 0;
                margin-inline-end: 25px;
                font-weight: 500;
                line-height: 1;
            }
            p{
                font-size: 17px;
                color: #666;
                text-transform: capitalize;
                line-height: 1.5;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-team-style10 {
        .member-colmn {
            // display: flex;
            // .team-card {
            //     width: 48%;
            // }
        }
    }
}