@charset "UTF-8";
.home-preview {
  /* ------ navbar ------- */
  /* ------ header ------- */
  /* ------ demos ------- */
  /* ------ dark-sections ------- */
  /* ------ tc-elementor ------- */
  /* ------ tc-library ------- */
  /* ------ tc-builder ------- */
  /* ------ tc-options ------- */
  /* ------ tc-features-cards ------- */
  /* ------ header ------- */
  /* ------ tc-save-money ------- */
  /* ------ tc-features ------- */
  /* ------ tc-layouts ------- */
  /* ------ tc-save-money ------- */
  /* ------ tc-mobile ------- */
  /* ------ tc-more-features ------- */
  /* ------ dark-sections ------- */
  /* ------ tc-testimonials ------- */
  /* ------ tc-faq ------- */
  /* ------ tc-purchase ------- */
}
.home-preview .tc-navbar-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  padding: 30px 5vw;
}
.home-preview .tc-navbar-preview .content {
  padding: 20px 0;
}
.home-preview .tc-navbar-preview .content .navbar-brand {
  max-width: 115px;
  -webkit-margin-end: 100px;
          margin-inline-end: 100px;
}
.home-preview .tc-navbar-preview .content .navbar-nav .nav-link {
  font-size: 14px;
  color: #fff;
  opacity: 1;
  margin: 0 20px;
}
.home-preview .tc-navbar-preview .content .navbar-nav .nav-link:hover, .home-preview .tc-navbar-preview .content .navbar-nav .nav-link.active {
  color: var(--color-orange1);
}
.home-preview .tc-navbar-preview .content .nav-side .icon {
  font-size: 14px;
  color: #fff;
}
.home-preview .tc-navbar-preview .dropdown-menu {
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(-45deg, #45261F, #20201F, #34301C);
}
.home-preview .tc-navbar-preview .dropdown-menu li:last-of-type .dropdown-item {
  border: 0;
}
.home-preview .tc-navbar-preview .dropdown-menu .dropdown-item {
  color: #fff;
  border-color: #fff2;
  padding: 15px 20px;
  text-transform: capitalize;
  font-size: 13px;
}
.home-preview .tc-navbar-preview .dropdown-menu .dropdown-item:hover {
  background-color: #20201F;
}
.home-preview .tc-header-preview {
  position: relative;
}
.home-preview .tc-header-preview .slider-card {
  position: relative;
}
.home-preview .tc-header-preview .slider-card .img {
  height: 700px;
  position: relative;
  min-height: 100vh;
}
.home-preview .tc-header-preview .slider-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 40%;
  pointer-events: none;
}
.home-preview .tc-header-preview .slider-card .info {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  z-index: 20;
  color: #fff;
}
.home-preview .tc-header-preview .slider-card .info h1 {
  font-size: calc(12vw + 20px);
  font-weight: 500;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-preview .tc-header-preview .features-txt {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-top: 50px;
}
.home-preview .tc-header-preview .rotate-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: block;
  margin: 0 90px 0 auto;
  bottom: -80px;
}
.home-preview .tc-header-preview .rotate-box .num {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Instrument Serif", serif;
}
.home-preview .tc-header-preview .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  border-radius: 50%;
}
.home-preview .tc-header-preview .rotate-box .rotate-circle {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
}
.home-preview .tc-header-preview .rotate-box .rotate-circle svg {
  width: 220px;
  height: 220px;
  fill: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.home-preview .tc-header-preview .float-social-links {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1vw;
  z-index: 20;
}
.home-preview .tc-header-preview .float-social-links a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000045;
  font-size: 16px;
  color: #fff;
  margin: 10px;
}
.home-preview .tc-header-preview .float-social-links a:hover {
  background-color: var(--color-orange1);
}
.home-preview .tc-header-preview .float-icons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1vw;
  z-index: 20;
}
.home-preview .tc-header-preview .float-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000045;
  font-size: 16px;
  color: #fff;
  margin: 10px;
}
.home-preview .tc-header-preview .float-icons a:hover {
  background-color: var(--color-orange1);
}
.home-preview .tc-demos {
  position: relative;
  padding: 150px 0;
  overflow: hidden;
}
.home-preview .tc-demos .demo-card {
  position: relative;
  border-radius: 10px;
  border: 1px solid #9993;
  overflow: hidden;
  margin-top: 30px;
  display: block;
}
.home-preview .tc-demos .demo-card .img {
  height: 750px;
}
.home-preview .tc-demos .demo-card .img img {
  -o-object-position: top;
     object-position: top;
}
.home-preview .tc-demos .demo-card .info {
  padding: 30px;
  border-top: 1px solid #9993;
}
.home-preview .tc-demos .demo-card.comming-card {
  position: relative;
  height: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  background-color: #F1EEE9;
}
.home-preview .tc-demos .marq-content {
  position: relative;
}
.home-preview .tc-demos .marq-content .marq-slider {
  position: relative;
  overflow: hidden;
  padding: 120px 0 0;
}
.home-preview .tc-demos .marq-content .marq-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
  position: relative;
}
.home-preview .tc-demos .marq-content .marq-slider .swiper-wrapper .swiper-slide {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}
.home-preview .tc-demos .marq-content .marq-slider a {
  font-size: 120px;
  line-height: 150px;
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}
.home-preview .tc-demos .marq-content .marq-slider a:hover {
  color: #000;
}
.home-preview .tc-dark-sections {
  position: relative;
  background-image: url(../../../home_preview/assets/img/dark_bg.png);
  background-size: cover;
  color: #fff;
}
.home-preview .tc-elementor {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-elementor .info ul li {
  font-size: 20px;
  margin: 15px 0;
}
.home-preview .tc-elementor .info ul li .icon {
  color: #4CA515;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.home-preview .tc-elementor .img {
  position: relative;
}
.home-preview .tc-elementor .img .sub-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all linear;
  transition: all linear;
}
.home-preview .tc-library {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-builder {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-builder .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 520px;
}
.home-preview .tc-builder .imgs .img1 {
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.home-preview .tc-options {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-options .info .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home-preview .tc-options .info .items .item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-preview .tc-options .info .items .item .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.home-preview .tc-features-cards {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-features-cards .cards {
  position: relative;
}
.home-preview .tc-features-cards .cards .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-preview .tc-features-cards .cards .col-lg-3:last-of-type .item::after {
  display: none;
}
.home-preview .tc-features-cards .cards .item {
  position: relative;
  padding: 40px;
  z-index: 5;
  min-height: 450px;
}
.home-preview .tc-features-cards .cards .item::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ADA195), color-stop(#ADA19522), to(transparent));
  background-image: linear-gradient(to bottom, #ADA195, #ADA19522, transparent);
  top: 0;
  right: 0;
}
.home-preview .tc-features-cards .cards .item .top-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.home-preview .tc-features-cards .cards .item .top-cont .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff4;
  color: var(--color-orange1);
  font-size: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.home-preview .tc-inner-pages {
  position: relative;
}
.home-preview .tc-inner-pages .pages-slider {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 991px) {
  .home-preview .tc-inner-pages .pages-slider {
    -webkit-margin-start: calc((100vw - 1320px) / 2 );
            margin-inline-start: calc((100vw - 1320px) / 2 );
  }
}
.home-preview .tc-inner-pages .pages-slider .img img {
  height: 700px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: -50px;
}
.home-preview .tc-save-money {
  position: relative;
  padding: 150px 0 80px;
  background-color: #F1EEE9;
}
.home-preview .tc-features {
  position: relative;
  padding: 50px 0 80px;
  background-color: #F1EEE9;
}
.home-preview .tc-features .item {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin-top: 30px;
}
.home-preview .tc-features .item .info {
  padding: 30px;
  min-height: 200px;
}
.home-preview .tc-features .item .img {
  position: relative;
  height: 360px;
  margin-top: 10px;
}
.home-preview .tc-features .item .img img {
  -o-object-position: top;
     object-position: top;
}
.home-preview .tc-layouts {
  position: relative;
  padding: 150px 0 80px;
  background-color: #F1EEE9;
}
.home-preview .tc-layouts .circle {
  position: absolute;
  top: -100px;
  right: 20px;
  height: calc(100% + 200px);
  max-height: unset;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.home-preview .tc-layouts .icon-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home-preview .tc-layouts .icon-cards .item {
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
  margin-top: 40px;
  text-align: center;
}
.home-preview .tc-layouts .icon-cards .item .icon {
  height: 90px;
  margin-bottom: 15px;
}
.home-preview .tc-layouts .img {
  position: relative;
}
.home-preview .tc-layouts .img .sub-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 100px);
  max-width: unset;
  -webkit-transition: all linear;
  transition: all linear;
}
.home-preview .tc-woocommerce {
  position: relative;
  padding: 80px 0;
  background-color: #F1EEE9;
}
.home-preview .tc-woocommerce .line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
}
.home-preview .tc-woocommerce .img {
  position: relative;
}
.home-preview .tc-woocommerce .img .sub-img {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  max-width: unset;
  max-height: unset;
  height: unset;
  -webkit-transition: all linear;
  transition: all linear;
}
.home-preview .tc-woocommerce .info .tags {
  margin: 0 -3px;
}
.home-preview .tc-woocommerce .info .tags a {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  text-transform: capitalize;
  margin: 6px 3px;
  background-color: #E0DCD4;
  border-radius: 5px;
}
.home-preview .tc-woocommerce .info .tags a:hover {
  background-color: var(--color-orange1);
  color: #fff;
}
.home-preview .tc-mobile {
  position: relative;
  padding: 80px 0;
  background-color: #F1EEE9;
}
.home-preview .tc-mobile .marq-content {
  position: relative;
  overflow: hidden;
}
.home-preview .tc-mobile .marq-content .marq-slider {
  position: relative;
  overflow: hidden;
  padding: 120px 0 0;
}
.home-preview .tc-mobile .marq-content .marq-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
  position: relative;
}
.home-preview .tc-mobile .marq-content .marq-slider .swiper-wrapper .swiper-slide {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}
.home-preview .tc-mobile .marq-content .marq-slider a {
  font-size: 120px;
  line-height: 150px;
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}
.home-preview .tc-mobile .marq-content .marq-slider a:hover {
  color: #BFB6A8;
  -webkit-text-stroke: 1px #BFB6A8;
}
.home-preview .tc-mobile .patt {
  position: absolute;
  bottom: -100px;
  right: 0;
  height: calc(100% + 100px);
  max-height: unset;
}
.home-preview .tc-more-features {
  position: relative;
  padding: 80px 0;
  background-color: #F1EEE9;
}
.home-preview .tc-more-features .feat-card {
  text-align: center;
  padding: 0 20px;
  margin-top: 80px;
}
.home-preview .tc-more-features .feat-card .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px;
  font-size: 35px;
  color: var(--color-orange1);
}
.home-preview .tc-dark-sections-st2 {
  position: relative;
  background-image: url(../../../home_preview/assets/img/dark_bg2.png);
  background-size: cover;
  color: #fff;
  padding-top: 50px;
}
.home-preview .tc-testimonials {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-testimonials .rotate-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: block;
  margin: 0 auto 30px;
}
.home-preview .tc-testimonials .rotate-box .num {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Instrument Serif", serif;
  color: var(--color-orange1);
}
.home-preview .tc-testimonials .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  border-radius: 50%;
  font-size: 20px;
}
.home-preview .tc-testimonials .rotate-box .rotate-circle svg {
  width: 220px;
  height: 220px;
  fill: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.home-preview .tc-testimonials .testimonials-content {
  position: relative;
  margin-top: 50px;
}
.home-preview .tc-testimonials .testimonials-content .swiper-button-next,
.home-preview .tc-testimonials .testimonials-content .swiper-button-prev {
  top: 40%;
}
.home-preview .tc-testimonials .testimonials-content .swiper-button-next::after,
.home-preview .tc-testimonials .testimonials-content .swiper-button-prev::after {
  color: #fff;
  font-size: 25px;
}
.home-preview .tc-testimonials .testimonials-content .swiper-button-next:hover::after,
.home-preview .tc-testimonials .testimonials-content .swiper-button-prev:hover::after {
  color: var(--color-orange1);
}
.home-preview .tc-testimonials .testimonials-content .swiper-button-next {
  right: 5vw;
}
.home-preview .tc-testimonials .testimonials-content .swiper-button-prev {
  left: 5vw;
}
.home-preview .tc-testimonials .testimonials-content .testimonials-slider {
  position: relative;
  overflow: hidden;
}
.home-preview .tc-testimonials .testimonials-content .testimonials-slider .slide-card {
  text-align: center;
}
.home-preview .tc-testimonials .testimonials-content .testimonials-slider .slide-card .main-text {
  font-size: 60px;
  font-family: "Instrument Serif", serif;
  font-weight: 500;
}
.home-preview .tc-faq {
  position: relative;
  padding: 80px 0;
}
.home-preview .tc-faq .accordion {
  position: relative;
  padding: 3vw 5vw 8vw;
}
.home-preview .tc-faq .accordion .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-preview .tc-faq .accordion .accordion-item {
  position: relative;
  z-index: 5;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #666;
}
.home-preview .tc-faq .accordion .accordion-item:last-of-type {
  border: 0;
}
.home-preview .tc-faq .accordion .accordion-item .accordion-button {
  background-color: transparent !important;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 30px 0;
}
.home-preview .tc-faq .accordion .accordion-item .accordion-button::after {
  background-image: none;
  content: "";
  font-family: "Font Awesome 6 Pro";
  -webkit-transform: rotate(0);
          transform: rotate(0);
  font-size: 18px;
  font-weight: 400;
}
.home-preview .tc-faq .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--color-orange1);
  border-radius: 0;
}
.home-preview .tc-faq .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  content: "";
}
.home-preview .tc-faq .accordion .accordion-item .accordion-button .num {
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  font-weight: 300;
}
.home-preview .tc-faq .accordion .accordion-item .accordion-body {
  padding-top: 0;
  padding-bottom: 30px;
  -webkit-padding-start: 60px;
          padding-inline-start: 60px;
}
.home-preview .tc-purchase {
  position: relative;
  padding-top: 80px;
}
.home-preview .tc-purchase .content {
  position: relative;
  text-align: center;
}
.home-preview .tc-purchase .content h2 {
  font-size: 72px;
  font-weight: 500;
}
.home-preview .tc-purchase .foot-img {
  position: relative;
}
.home-preview .tc-purchase .foot-img .rotate-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: block;
  margin: -50px 0 -150px auto;
}
.home-preview .tc-purchase .foot-img .rotate-box .num {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Instrument Serif", serif;
}
.home-preview .tc-purchase .foot-img .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  border-radius: 50%;
}
.home-preview .tc-purchase .foot-img .rotate-box .rotate-circle {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
}
.home-preview .tc-purchase .foot-img .rotate-box .rotate-circle svg {
  width: 220px;
  height: 220px;
  fill: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.home-preview .tc-purchase .foot-img .img {
  width: 90%;
  margin-top: 50px;
  display: block;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

@media screen and (max-width: 991px) {
  .home-preview br {
    display: none;
  }
  .home-preview .fsz-50 {
    font-size: 30px !important;
  }
  .home-preview .fsz-45 {
    font-size: 25px !important;
  }
  .home-preview .fsz-40 {
    font-size: 25px !important;
  }
  .home-preview .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-preview .fsz-30 {
    font-size: 18px !important;
  }
  .home-preview .mb-50 {
    margin-bottom: 30px !important;
  }
  .home-preview .section-head-style1 .sub-title {
    margin-bottom: 15px !important;
  }
  .home-preview .section-head-style1 h2 {
    font-size: 30px;
  }
  .home-preview .mt-5 {
    margin-top: 2rem !important;
  }
  .home-preview .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-preview .tc-navbar-preview {
    padding: 0 20px;
    position: relative;
    background: #000;
  }
  .home-preview .tc-navbar-preview .navbar-nav {
    margin: 30px 0;
  }
  .home-preview .tc-builder .imgs img {
    width: calc(50% - 20px) !important;
    scroll-margin-inline: 20px !important;
  }
  .home-preview .tc-layouts .img .sub-img {
    width: 100%;
  }
  .home-preview .rotate-box {
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
    margin: 0 auto !important;
    bottom: 0 !important;
  }
  .home-preview .tc-header-preview {
    overflow: hidden;
  }
  .home-preview .tc-header-preview .features-txt {
    display: block;
    line-height: 2.2;
  }
  .home-preview .tc-header-preview .info {
    padding-bottom: 100px;
  }
  .home-preview .tc-header-preview .float-icons {
    top: 50px;
    width: 100%;
  }
  .home-preview .tc-header-preview .float-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-preview .tc-header-preview .float-icons ul a {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
  .home-preview .tc-header-preview .float-social-links {
    top: auto;
    bottom: 0;
    width: 100%;
  }
  .home-preview .tc-header-preview .float-social-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-preview .tc-header-preview .float-social-links ul a {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
  .home-preview .tc-header-preview .slider-card .img {
    height: 800px;
  }
  .home-preview .tc-demos .demo-card {
    min-height: 200px;
  }
  .home-preview .tc-demos .demo-card .img {
    height: auto;
  }
  .home-preview .tc-demos .marq-content .marq-slider a {
    font-size: 50px;
    line-height: 1.4;
  }
  .home-preview .tc-library .th-750 {
    height: auto !important;
  }
  .home-preview .tc-features-cards .cards .item {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .home-preview .tc-features-cards .cards .item::after {
    display: none;
  }
  .home-preview .tc-inner-pages {
    padding: 0 15px;
  }
  .home-preview .tc-inner-pages .pages-slider .img img {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .home-preview .tc-features .item .img {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .home-preview .tc-features .item .img img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .home-preview .tc-layouts .icon-cards .item {
    width: calc(50% - 30px);
  }
  .home-preview .tc-woocommerce .line {
    display: none;
  }
  .home-preview .tc-testimonials .testimonials-content .swiper-button-next,
.home-preview .tc-testimonials .testimonials-content .swiper-button-prev {
    display: none;
  }
  .home-preview .tc-testimonials .testimonials-content .testimonials-slider .slide-card .main-text {
    font-size: 35px;
  }
  .home-preview .tc-faq .accordion .accordion-item .accordion-button {
    font-size: 14px;
  }
  .home-preview .tc-faq .accordion .accordion-item .accordion-button::after {
    display: none !important;
  }
  .home-preview .tc-faq .accordion .accordion-item .accordion-button .num {
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
  }
  .home-preview .tc-faq .accordion .accordion-item .accordion-body {
    -webkit-padding-start: 25px;
            padding-inline-start: 25px;
  }
  .home-preview .tc-purchase .content h2 {
    font-size: 25px;
  }
  .home-preview .tc-mobile .marq-content .marq-slider a {
    font-size: 50px;
    line-height: 1.4;
  }
  .home-preview section {
    overflow: hidden;
  }
}