@charset "UTF-8";
/* ========= [ * page-home_3 ]  =========*/
/* --------------- side_menu_style4 --------------- */
.side_menu_style4 {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background-color: #DFE3EC;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.side_menu_style4.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.side_menu_style4.show .side_shape {
  -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  opacity: 1;
}
.side_menu_style4.show .side_shape2 {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
  opacity: 1;
}
.side_menu_style4.show .main_links {
  text-align: center;
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}
.side_menu_style4 .side_shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  -webkit-transform: rotate(-60deg) scale(0.5);
          transform: rotate(-60deg) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu_style4 .side_shape2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  -webkit-transform: rotate(120deg) scale(0.5);
          transform: rotate(120deg) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu_style4 .links_group {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}
.side_menu_style4 .main_links {
  text-align: center;
  -webkit-transform: scaleX(1.4) scaleY(1.8);
          transform: scaleX(1.4) scaleY(1.8);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.side_menu_style4 .main_links .main_link {
  font-size: calc(3vw + 15px);
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}
.side_menu_style4 .main_links .main_link:hover {
  color: var(--color-orange1);
}
.side_menu_style4 .social_links a {
  font-size: 24px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  border-bottom: 3px solid transparent;
}
.side_menu_style4 .social_links a:hover {
  border-color: #000;
}
.side_menu_style4 .clss {
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
}

.side_menu4_overlay {
  position: absolute;
  z-index: 995;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-orange1);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.side_menu4_overlay.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.side_menu4_overlay2 {
  position: absolute;
  z-index: 998;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-orange1);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu4_overlay2.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

/* --------------- navbar style2 --------------- */
.tc-navbar-style2 {
  position: relative;
  padding: 0 3vw;
}
.tc-navbar-style2 .container-fluid {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.tc-navbar-style2 .navbar-brand {
  -webkit-margin-end: 170px;
          margin-inline-end: 170px;
}
.tc-navbar-style2 .navbar-brand img {
  height: 35px;
}
.tc-navbar-style2 .nav-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tc-navbar-style2 .nav-contact .links-item {
  -webkit-margin-end: 80px;
          margin-inline-end: 80px;
}
.tc-navbar-style2 .nav-contact .links-item a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-block: 0;
  line-height: 1.5;
}
.tc-navbar-style2 .nav-icons {
  position: relative;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
.tc-navbar-style2 .nav-icons .icon {
  width: 45px;
  height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #999;
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
  font-size: 16px;
}
.tc-navbar-style2 .nav-icons .icon:hover {
  background-color: var(--color-orange1);
  border-color: var(--color-orange1);
  color: #fff;
}
.tc-navbar-style2 .nav-search-box {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 20px #fff1;
          box-shadow: 5px 5px 20px #fff1;
  right: 0;
  top: calc(100% + 15px);
  width: 100%;
  min-width: 250px;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 20px #0001;
          box-shadow: 0 0 20px #0001;
}
.tc-navbar-style2 .nav-search-box.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.tc-navbar-style2 .nav-search-box .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tc-navbar-style2 .nav-search-box .form-group input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #9993;
  border-right: 0;
  border-radius: 8px 0 0 8px;
  min-height: 50px;
  color: #000;
  padding: 12px 15px;
}
.tc-navbar-style2 .nav-search-box .form-group button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0 8px 8px 0;
  border: 1px solid #9993;
  background-color: #9993;
  padding: 10px;
  color: #000;
  margin-left: -2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-navbar-style2 .nav-search-box .form-group button:hover {
  background-color: var(--color-orange1);
  color: #fff;
}

@media screen and (max-width: 991px) {
  .tc-navbar-style2 .nav-contact {
    display: block;
    margin: 15px 0;
  }
  .tc-navbar-style2 .nav-contact * {
    line-height: 2 !important;
  }
  .tc-navbar-style2 .nav-icons .icon {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
  }
}
/* --------------- header style2 --------------- */
.tc-header-style2 {
  position: relative;
  padding-top: 120px;
}
.tc-header-style2 .top-info h1 {
  font-size: 90px;
  font-weight: 600;
}
.tc-header-style2 .top-info h1 span {
  color: var(--color-orange1);
  font-style: italic;
  font-weight: 400;
}
.tc-header-style2 .top-info .award-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
  border: 1px solid #999;
  border-radius: 50px;
  margin-top: 70px;
}
.tc-header-style2 .top-info .award-wrapper p {
  font-size: 18px;
}
.tc-header-style2 .top-info .award-wrapper .line {
  width: 60px;
  height: 1px;
  background-color: #999;
  margin: 0 30px;
}
.tc-header-style2 .top-info .facts-wrapper {
  position: relative;
  padding: 30px 40px;
}
.tc-header-style2 .top-info .facts-wrapper * {
  position: relative;
  z-index: 10;
}
.tc-header-style2 .top-info .facts-wrapper .num {
  font-size: 60px;
  font-weight: 400;
}
.tc-header-style2 .top-info .facts-wrapper p {
  color: #666;
}
.tc-header-style2 .top-info .facts-wrapper .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
.tc-header-style2 .slider-content {
  margin-top: 120px;
  padding: 0 3vw;
}
.tc-header-style2 .slider-content .head-slider {
  position: relative;
  overflow: hidden;
}
.tc-header-style2 .slider-content .head-slider .slider-card {
  position: relative;
}
.tc-header-style2 .slider-content .head-slider .slider-card .img {
  position: relative;
  height: 650px;
  border-radius: 20px;
  overflow: hidden;
}
.tc-header-style2 .slider-content .head-slider .slider-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000cb), to(transparent));
  background-image: linear-gradient(to top, #000000cb, transparent);
}
.tc-header-style2 .slider-content .head-slider .slider-card .info {
  position: absolute;
  left: 0;
  bottom: 50px;
  color: #fff;
  z-index: 20;
  width: 100%;
}
.tc-header-style2 .slider-content .head-slider .slider-card .info .title a {
  font-size: 60px;
  font-weight: 500;
}
.tc-header-style2 .slider-content .head-slider .slider-card .info .title a:hover {
  color: var(--color-orange1);
}
.tc-header-style2 .slider-content .head-slider .slider-card .info .tags {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tc-header-style2 .slider-content .head-slider .slider-card .info .tags a {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
}
.tc-header-style2 .slider-content .head-slider .controls {
  position: absolute;
  right: 150px;
  bottom: -1px;
  width: 350px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
}
.tc-header-style2 .slider-content .head-slider .controls .cont-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-prev,
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-next {
  position: static;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #9999;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-prev::after,
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-next::after {
  font-size: 14px;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-prev:hover,
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-next:hover {
  background-color: #000;
  border-color: #000;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-prev:hover::after,
.tc-header-style2 .slider-content .head-slider .controls .swiper-button-next:hover::after {
  color: #fff;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-pagination {
  position: static;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}
.tc-header-style2 .slider-content .head-slider .controls .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-orange1);
}
.tc-header-style2 .head-features {
  margin-top: 50px;
  padding-bottom: 120px;
  border-bottom: 1px solid #ccc;
}
.tc-header-style2 .head-features .feat-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.tc-header-style2 .head-features .feat-card .icon {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #F1EEE9;
  color: var(--color-orange1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .tc-header-style2 {
    padding-top: 80px;
  }
  .tc-header-style2 .top-info h1 {
    font-size: 50px;
  }
  .tc-header-style2 .top-info .award-wrapper p {
    font-size: 12px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .tc-header-style2 .top-info .facts-wrapper {
    margin-top: 50px;
  }
  .tc-header-style2 .slider-content {
    margin-top: 80px;
  }
  .tc-header-style2 .slider-content .head-slider .slider-card .img {
    height: 400px;
  }
  .tc-header-style2 .slider-content .head-slider .slider-card .info {
    bottom: 100px;
  }
  .tc-header-style2 .slider-content .head-slider .slider-card .info .title a {
    font-size: 35px;
  }
  .tc-header-style2 .slider-content .head-slider .controls {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 300px;
    padding: 15px 25px;
  }
  .tc-header-style2 .head-features {
    padding-bottom: 80px;
  }
}
/* --------------- services style2 --------------- */
.tc-services-style2 {
  position: relative;
  padding: 110px 0;
}
.tc-services-style2 .services .service-card {
  margin-bottom: 50px;
  position: relative;
  display: block;
}
.tc-services-style2 .services .service-card:hover .img .arrow {
  background-color: var(--color-orange1);
  color: #fff;
}
.tc-services-style2 .services .service-card .img {
  height: 165px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.tc-services-style2 .services .service-card .img .arrow {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-services-style2 .phone-box {
  position: relative;
  padding: 30px 40px;
}
.tc-services-style2 .phone-box .bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.tc-services-style2 .phone-box * {
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 991px) {
  .tc-services-style2 {
    padding: 80px 0;
  }
  .tc-services-style2 .services .service-card .img {
    height: 250px;
  }
  .tc-services-style2 .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tc-services-style2 .phone-box {
    margin-top: 50px;
  }
  .tc-services-style2 .phone-box p {
    width: 55%;
  }
}
/* --------------- process style2 --------------- */
.tc-process-style2 {
  position: relative;
  padding: 110px 0;
  overflow: hidden;
}
.tc-process-style2 .container {
  position: relative;
  z-index: 10;
}
.tc-process-style2 .bg {
  position: absolute;
  left: 0;
  top: -15%;
  width: 100%;
  height: 130%;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(../img/prc_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: inherit;
}
.tc-process-style2 .accordion-item {
  border: 0;
  border-radius: 20px;
  margin-bottom: 5px;
}
.tc-process-style2 .accordion-item .accordion-button {
  color: #000;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 30px;
  border: 0;
}
.tc-process-style2 .accordion-item .accordion-button:not(.collapsed) h3 {
  color: var(--color-orange1);
}
.tc-process-style2 .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "";
  font-family: "Font Awesome 5 Pro";
  -webkit-transform: rotate(0) !important;
          transform: rotate(0) !important;
}
.tc-process-style2 .accordion-item .accordion-button h3 {
  font-size: 24px;
}
.tc-process-style2 .accordion-item .accordion-button .num {
  font-size: 24px;
  color: #999;
  font-weight: 200;
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
  font-family: "Instrument Serif", serif;
}
.tc-process-style2 .accordion-item .accordion-button::after {
  background-image: none;
  content: "";
  font-family: "Font Awesome 5 Pro";
  -webkit-transform: rotate(0) !important;
          transform: rotate(0) !important;
}
.tc-process-style2 .accordion-item .accordion-body {
  -webkit-padding-start: 85px;
          padding-inline-start: 85px;
  -webkit-padding-end: 50px;
          padding-inline-end: 50px;
  padding-top: 0;
  padding-bottom: 30px;
}
.tc-process-style2 .accordion-item .accordion-body .text {
  font-size: 15px;
  color: #666;
}
.tc-process-style2 .imgs {
  position: relative;
  background-image: url(../img/bubbles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tc-process-style2 .imgs .img {
  position: relative;
  margin: 0 auto;
}
.tc-process-style2 .imgs .img img {
  border-radius: 50%;
}
.tc-process-style2 .imgs .img:nth-of-type(1) {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.tc-process-style2 .imgs .img:nth-of-type(1) .txt {
  font-size: 35px;
  position: absolute;
  top: 65px;
  right: -65px;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: #F1EEE9;
  border-radius: 15px;
  padding: 0 30px;
  text-transform: capitalize;
}
.tc-process-style2 .imgs .img:nth-of-type(2) {
  position: absolute;
  right: -100px;
  top: 150px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.tc-process-style2 .imgs .img:nth-of-type(2)::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000c5), to(transparent));
  background-image: linear-gradient(to top, #000000c5, transparent);
  border-radius: 50%;
}
.tc-process-style2 .imgs .img:nth-of-type(2) .txt {
  font-size: 25px;
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 10;
  color: #fff;
  text-transform: capitalize;
}
.tc-process-style2 .imgs .img:nth-of-type(3) {
  position: absolute;
  left: 70px;
  top: 300px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.tc-process-style2 .imgs .img:nth-of-type(3)::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000c5), to(transparent));
  background-image: linear-gradient(to top, #000000c5, transparent);
  border-radius: 50%;
}
.tc-process-style2 .imgs .img:nth-of-type(3) .txt {
  font-size: 30px;
  position: absolute;
  bottom: 15px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 10;
  color: #fff;
  text-transform: capitalize;
}
.tc-process-style2 .imgs .img:nth-of-type(4) {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.tc-process-style2 .imgs .img:nth-of-type(4) .txt {
  font-size: 30px;
  position: absolute;
  top: 65px;
  left: -65px;
  z-index: 10;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 5px 30px;
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .tc-process-style2 {
    padding: 80px 0;
  }
  .tc-process-style2 .imgs {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tc-process-style2 .imgs .img {
    width: 48% !important;
    height: 250px !important;
    border-radius: 30px !important;
    margin: 1% !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  .tc-process-style2 .imgs .img::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000c5), to(transparent));
    background-image: linear-gradient(to top, #000000c5, transparent);
    border-radius: 30px !important;
  }
  .tc-process-style2 .imgs .img img {
    border-radius: 30px !important;
  }
  .tc-process-style2 .imgs .img .txt {
    font-size: 30px !important;
    position: absolute !important;
    top: auto !important;
    bottom: 15px !important;
    right: 50% !important;
    -webkit-transform: translateX(50%) !important;
            transform: translateX(50%) !important;
    z-index: 10 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    background-color: transparent !important;
    border: 0 !important;
  }
}
/* --------------- footer style2 --------------- */
.tc-projects-style2 {
  position: relative;
  padding-top: 110px;
}
.tc-projects-style2 .tabs-links .nav-pills .nav-link {
  background-color: transparent;
  padding: 0;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0;
  text-transform: capitalize;
  color: #666;
}
.tc-projects-style2 .tabs-links .nav-pills .nav-link.active, .tc-projects-style2 .tabs-links .nav-pills .nav-link:hover {
  color: #000;
}
.tc-projects-style2 .projects-slider-content {
  padding: 0 3vw;
  position: relative;
  overflow: hidden;
}
.tc-projects-style2 .projects-slider-content .projects-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 120px;
}
.tc-projects-style2 .projects-slider-content .projects-slider .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.tc-projects-style2 .projects-slider-content .projects-slider .controls .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  position: static;
}
.tc-projects-style2 .projects-slider-content .projects-slider .controls .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  border-radius: 0;
  background-color: #ccc;
  opacity: 1;
}
.tc-projects-style2 .projects-slider-content .projects-slider .controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 3px;
  background-color: var(--color-orange1);
  margin-top: -1px;
}
.tc-projects-style2 .project-card {
  position: relative;
}
.tc-projects-style2 .project-card:hover .img .arrow {
  background-color: var(--color-orange1);
  color: #fff;
}
.tc-projects-style2 .project-card .img {
  height: 650px;
  position: relative;
  border-radius: 0 20px 20px 20px;
  overflow: hidden;
  display: block;
}
.tc-projects-style2 .project-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.tc-projects-style2 .project-card .img .year {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  padding: 30px 20px 40px 10px;
  text-align: center;
  color: #000;
  z-index: 10;
}
.tc-projects-style2 .project-card .img .year .txt {
  position: relative;
  z-index: 10;
  font-size: 18px;
}
.tc-projects-style2 .project-card .img .year .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tc-projects-style2 .project-card .img .arrow {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}
.tc-projects-style2 .project-card .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  padding: 40px;
  color: #fff;
}
.tc-projects-style2 .project-card .info .title {
  font-size: 35px;
  font-weight: 500;
}
.tc-projects-style2 .project-card .info .tags {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tc-projects-style2 .project-card .info .tags a {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .tc-projects-style2 {
    padding-top: 80px;
  }
  .tc-projects-style2 .tabs-links .nav-pills .nav-link {
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
    font-size: 12px;
    font-weight: 600;
  }
  .tc-projects-style2 .project-card .img {
    height: 400px;
  }
  .tc-projects-style2 .project-card .info .title {
    font-size: 25px;
  }
}
/* --------------- awards style2 --------------- */
.tc-awards-style2 {
  position: relative;
  padding: 110px 0;
}
.tc-awards-style2 .award-card {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-awards-style2 .award-card:hover {
  border-color: var(--color-orange1);
}
.tc-awards-style2 .award-card:hover a {
  color: #000 !important;
  text-decoration: underline;
}
.tc-awards-style2 .award-card .logo {
  height: 35px;
}
.tc-awards-style2 .award-card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 15px 0;
  min-height: 90px;
}

@media screen and (max-width: 991px) {
  .tc-awards-style2 {
    padding: 80px 0;
  }
}
/* --------------- testimonials style2 --------------- */
.tc-testimonials-style2 {
  padding: 110px 0;
  background-color: #1F1F1F;
}
.tc-testimonials-style2 .slider-controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #fff3;
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 10;
}
.tc-testimonials-style2 .slider-controls .swiper-button-next,
.tc-testimonials-style2 .slider-controls .swiper-button-prev {
  position: static;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
}
.tc-testimonials-style2 .slider-controls .swiper-button-next::after,
.tc-testimonials-style2 .slider-controls .swiper-button-prev::after {
  color: #fff;
  font-size: 12px;
}
.tc-testimonials-style2 .slider-controls .swiper-button-next:hover::after,
.tc-testimonials-style2 .slider-controls .swiper-button-prev:hover::after {
  color: var(--color-orange1);
}
.tc-testimonials-style2 .slider-controls .swiper-pagination {
  position: static;
  margin: 0 10px;
  color: #fff;
}
.tc-testimonials-style2 .slider-controls .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 5px;
}
.tc-testimonials-style2 .slider-controls .swiper-pagination .swiper-pagination-bullet .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}
.tc-testimonials-style2 .img-slider {
  position: relative;
  overflow: hidden;
}
.tc-testimonials-style2 .img-slider .arrows {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  width: 100px;
  z-index: 30;
}
.tc-testimonials-style2 .img-slider .arrows .swiper-button-next,
.tc-testimonials-style2 .img-slider .arrows .swiper-button-prev {
  position: static;
  margin: 0;
}
.tc-testimonials-style2 .img-slider .arrows .swiper-button-next::after,
.tc-testimonials-style2 .img-slider .arrows .swiper-button-prev::after {
  color: #fff;
  font-size: 16px;
}
.tc-testimonials-style2 .img-slider .slider-card .img {
  position: relative;
  height: 475px;
  border-radius: 15px;
  overflow: hidden;
}
.tc-testimonials-style2 .img-slider .slider-card .img .shap1 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35%;
  z-index: 10;
}
.tc-testimonials-style2 .img-slider .slider-card .img .shap2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 20%;
  z-index: 10;
}
.tc-testimonials-style2 .text-side {
  position: relative;
}
.tc-testimonials-style2 .text-slider {
  position: relative;
  overflow: hidden;
}
.tc-testimonials-style2 .text-slider .text {
  font-size: 48px;
  color: #fff;
  line-height: 1.4;
  margin-bottom: 20px;
}
.tc-testimonials-style2 .text-slider .user-wrapper {
  padding-top: 45px;
  margin-top: 45px;
  border-top: 1px solid #fff3;
  color: #fff;
}
.tc-testimonials-style2 .text-slider .user-wrapper .user-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tc-testimonials-style2 .text-slider .user-wrapper .user-content .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tc-testimonials-style2 .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.tc-testimonials-style2 .logos a {
  height: 45px;
  opacity: 0.5;
}
.tc-testimonials-style2 .logos a:hover {
  opacity: 1;
}
.tc-testimonials-style2 .logos a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 991px) {
  .tc-testimonials-style2 {
    padding: 80px 0;
  }
  .tc-testimonials-style2 .img-slider {
    margin-bottom: 50px;
  }
  .tc-testimonials-style2 .img-slider .slider-card .img {
    height: 350px;
  }
  .tc-testimonials-style2 .text-slider .text {
    font-size: 30px;
  }
  .tc-testimonials-style2 .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tc-testimonials-style2 .logos a {
    width: 30%;
    margin: 10px;
  }
}
/* --------------- blog style2 --------------- */
.tc-blog-style2 {
  position: relative;
  padding: 110px 0;
  background-color: #F1EEE9;
}
.tc-blog-style2 .row .col-lg-3:nth-of-type(1) .blog-card .img {
  height: 250px;
}
.tc-blog-style2 .row .col-lg-3:nth-of-type(2) .blog-card .img {
  height: 300px;
}
.tc-blog-style2 .row .col-lg-3:nth-of-type(3) .blog-card .img {
  height: 210px;
}
.tc-blog-style2 .row .col-lg-3:nth-of-type(4) .blog-card .img {
  height: 250px;
}
.tc-blog-style2 .blog-card {
  margin-top: 40px;
}
.tc-blog-style2 .blog-card .img {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: block;
}
.tc-blog-style2 .blog-card .img .arrow {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}
.tc-blog-style2 .blog-card .info .tags {
  margin-top: 20px;
}
.tc-blog-style2 .blog-card .info .tags a {
  text-transform: uppercase;
  position: relative;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  -webkit-padding-end: 25px;
          padding-inline-end: 25px;
}
.tc-blog-style2 .blog-card .info .tags a::after {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% - 2px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #999;
}
.tc-blog-style2 .blog-card .info .tags a:last-of-type {
  padding: 0;
  margin: 0;
}
.tc-blog-style2 .blog-card .info .tags a:last-of-type::after {
  display: none;
}

@media screen and (max-width: 991px) {
  .tc-blog-style2 {
    padding: 80px 0;
  }
  .tc-blog-style2 .blog-card .img {
    height: 300px !important;
  }
}
/* --------------- contact style2 --------------- */
.tc-contact-style2 {
  background-color: #F1EEE9;
}
.tc-contact-style2 .contact-form {
  padding: 110px 0;
  border-top: 1px solid #ccc;
}
.tc-contact-style2 .contact-form .form-group {
  position: relative;
  margin-top: 40px;
}
.tc-contact-style2 .contact-form .form-group label {
  font-size: 12px;
  text-transform: uppercase;
}
.tc-contact-style2 .contact-form .form-group .form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  color: #000;
  background-color: transparent;
  padding: 15px 0;
}
.tc-contact-style2 .contact-form .form-group .form-control:focus {
  border-color: #000;
}
.tc-contact-style2 .contact-form .upload_img_content {
  margin-top: 50px;
}
.tc-contact-style2 .contact-form .upload_img_content .file__input--file {
  display: none;
}
.tc-contact-style2 .contact-form .upload_img_content .file__input--label {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  display: block;
  margin: auto;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.tc-contact-style2 .contact-form .upload_img_content .file__input--label i {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.tc-contact-style2 .contact-form .upload_img_content .file__value_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tc-contact-style2 .contact-form .upload_img_content .file__value_content .file__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin-top: 15px;
  background-color: #fff;
  width: 31%;
  -webkit-margin-end: 2%;
          margin-inline-end: 2%;
}
.tc-contact-style2 .contact-form .upload_img_content .file__value_content .file__value .file__value--text {
  width: calc(100% - 30px);
  overflow: hidden;
}
.tc-contact-style2 .contact-form .upload_img_content .file__value--remove {
  cursor: pointer;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.tc-contact-style2 .contact-form .terms-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.tc-contact-style2 .contact-form .terms-check .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin: 0 15px 0 0;
  background-color: transparent;
  border: 1px solid #ccc;
}
.tc-contact-style2 .contact-form .terms-check .form-check-input:checked {
  background-color: var(--color-orange1);
  border-color: var(--color-orange1);
}

@media screen and (max-width: 991px) {
  .tc-contact-style2 .contact-form {
    padding: 80px 0;
  }
}
/* --------------- footer style2 --------------- */
.tc-footer-style2 {
  position: relative;
}
.tc-footer-style2 .shap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left bottom;
     object-position: left bottom;
}
.tc-footer-style2 .foot-main-content {
  position: relative;
  padding: 120px 0;
}
.tc-footer-style2 .foot-main-content .links-group ul li a {
  color: #666;
  margin: 5px 0;
}
.tc-footer-style2 .foot-main-content .links-group ul li a:hover {
  color: var(--color-orange1);
}
.tc-footer-style2 .foot {
  padding: 50px 0;
  border-top: 1px solid #ccc;
}
.tc-footer-style2 .foot .logo img {
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.tc-footer-style2 .foot .social-links a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  margin: 0 5px;
  font-size: 12px;
}
.tc-footer-style2 .foot .social-links a:hover {
  background-color: var(--color-orange1);
  border-color: var(--color-orange1);
  color: #fff;
}

@media screen and (max-width: 991px) {
  .tc-footer-style2 .logo {
    margin-bottom: 30px;
  }
  .tc-footer-style2 .social-links,
.tc-footer-style2 .butn {
    margin-top: 30px;
  }
}
.home-style2 .sub-font {
  font-family: "Instrument Serif", serif;
}
.home-style2 .ico-45 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 991px) {
  .home-style2 br {
    display: none;
  }
  .home-style2 .fsz-50 {
    font-size: 30px !important;
  }
  .home-style2 .fsz-40 {
    font-size: 25px !important;
  }
  .home-style2 .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-style2 .fsz-30 {
    font-size: 18px !important;
  }
  .home-style2 .mt-80 {
    margin-top: 50px !important;
  }
  .home-style2 .fsz-45 {
    font-size: 30px !important;
  }
  .home-style2 .mt-70 {
    margin-top: 45px !important;
  }
  .home-style2 .mb-80 {
    margin-bottom: 50px !important;
  }
}