/* --------------- side_menu_style4 --------------- */
.side_menu_style4{
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: max-content;
    background-color: #DFE3EC;
   //  color: #fff;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
     // transition: all 0.5s cubic-bezier(.1,0.6,0.6,.1);
     transition: all 0.5s ease-in-out;
     transition-delay: 0.4s;
     &.show {
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
         .side_shape {
            transform: rotate(0) scale(1);
            opacity: 1;
         }
         .side_shape2 {
            transform: rotate(180deg) scale(1);
            opacity: 1;
         }
         .main_links{
            text-align: center;
            transform: scaleX(1) scaleY(1);
            opacity: 1;
            filter: blur(0);
         }
     }

    .side_shape{
       position: absolute;
       right: 0;
       bottom: 0;
       width: 40%;
       transform: rotate(-60deg) scale(0.5);
       opacity: 0;
       transition: all 0.5s ease;
       transition-delay: 0.7s;
    }
    .side_shape2{
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
      transform: rotate(120deg) scale(0.5);
      opacity: 0;
      transition: all 0.5s ease;
      transition-delay: 0.7s;
   }
 
    .links_group{
       width: max-content;
       display: block;
    }
 
    .main_links{
      text-align: center;
      transform: scaleX(1.4) scaleY(1.8);
      filter: blur(2px);
      opacity: 0;
      transition: all 0.7s ease;
      transition-delay: 1s;
       .main_link{
          font-size: calc(3vw + 15px);
          font-weight: 400;
          margin: 10px 0;
          text-transform: uppercase;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
       }
    }
 
    .social_links{
       a{
          font-size: 24px;
          margin-inline-end: 15px;
          border-bottom: 3px solid transparent;
          &:hover{
             border-color: #000;
          }
       }
    }

    .clss {
      font-size: 30px;
      position: absolute;
      top: 30px;
      right: 60px;
      cursor: pointer;
    }

 }
 
 .side_menu4_overlay {
    position: absolute;
    z-index: 90;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    // transition: all 0.5s cubic-bezier(.1,0.6,0.6,.1);
    transition: all 0.5s ease-in-out;
    &.show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 }
 
 .side_menu4_overlay2 {
    position: absolute;
    z-index: 80;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    // transition: all 0.5s cubic-bezier(.1,0.6,0.6,.1);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.7s;
    &.show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition-delay: 0.1s;
    }
 }

@media screen and (max-width: 991px) {

}