/* ========= [ * page-home_1 ]  =========*/
/* --------------- side_menu_style4 --------------- */
.side_menu_style4 {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background-color: #DFE3EC;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.side_menu_style4.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.side_menu_style4.show .side_shape {
  -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  opacity: 1;
}
.side_menu_style4.show .side_shape2 {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
  opacity: 1;
}
.side_menu_style4.show .main_links {
  text-align: center;
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}
.side_menu_style4 .side_shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  -webkit-transform: rotate(-60deg) scale(0.5);
          transform: rotate(-60deg) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu_style4 .side_shape2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  -webkit-transform: rotate(120deg) scale(0.5);
          transform: rotate(120deg) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu_style4 .links_group {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}
.side_menu_style4 .main_links {
  text-align: center;
  -webkit-transform: scaleX(1.4) scaleY(1.8);
          transform: scaleX(1.4) scaleY(1.8);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.side_menu_style4 .main_links .main_link {
  font-size: calc(3vw + 15px);
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}
.side_menu_style4 .main_links .main_link:hover {
  text-decoration: underline;
}
.side_menu_style4 .social_links a {
  font-size: 24px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  border-bottom: 3px solid transparent;
}
.side_menu_style4 .social_links a:hover {
  border-color: #000;
}
.side_menu_style4 .clss {
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
}

.side_menu4_overlay {
  position: absolute;
  z-index: 90;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.side_menu4_overlay.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.side_menu4_overlay2 {
  position: absolute;
  z-index: 80;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu4_overlay2.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

/* --------------- footer style10 --------------- */
.tc-navbar-style10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  padding: 0;
}
.tc-navbar-style10 .content {
  padding: 20px 0;
  border-bottom: 1px solid #fff5;
}
.tc-navbar-style10 .content .navbar-brand {
  max-width: 115px;
  -webkit-margin-end: 100px;
          margin-inline-end: 100px;
}
.tc-navbar-style10 .content .navbar-nav .nav-link {
  font-size: 14px;
  color: #fff;
  opacity: 1;
  margin: 0 20px;
}
.tc-navbar-style10 .content .menu-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .tc-navbar-style10 {
    position: relative;
    background-color: #333;
  }
  .tc-navbar-style10 .content {
    border: 0;
  }
  .tc-navbar-style10 .content .navbar-nav {
    margin: 20px 0;
  }
  .tc-navbar-style10 .content .navbar-nav .nav-link {
    margin: 0;
  }
}
/* --------------- header style10 --------------- */
.tc-header-style10 .header-slider {
  position: relative;
  overflow: hidden;
}
.tc-header-style10 .header-slider .swiper-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.tc-header-style10 .header-slider .swiper-slide-active {
  position: relative;
  z-index: 20;
}
.tc-header-style10 .header-slider .slider-controls {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0009;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
}
.tc-header-style10 .header-slider .slider-controls .swiper-button-next,
.tc-header-style10 .header-slider .slider-controls .swiper-button-prev {
  position: static;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
}
.tc-header-style10 .header-slider .slider-controls .swiper-button-next::after,
.tc-header-style10 .header-slider .slider-controls .swiper-button-prev::after {
  color: #fff;
  font-size: 12px;
}
.tc-header-style10 .header-slider .slider-controls .swiper-pagination {
  position: static;
  margin: 0 10px;
}
.tc-header-style10 .slider-card {
  position: relative;
}
.tc-header-style10 .slider-card .img {
  height: 650px;
  position: relative;
  min-height: 100vh;
}
.tc-header-style10 .slider-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 30%;
  pointer-events: none;
}
.tc-header-style10 .slider-card .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;
  color: #fff;
}
.tc-header-style10 .slider-card .info h1 {
  font-size: calc(12vw + 20px);
  font-weight: 500;
  text-shadow: 0 0 2px #000;
  line-height: 1;
}
.tc-header-style10 .slider-card .float-box {
  position: absolute;
  right: 40px;
  top: 180px;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  padding: 50px;
  width: 350px;
}
.tc-header-style10 .slider-card .float-box h4 {
  font-weight: 500;
  font-size: 43px;
  line-height: 60px;
}

@media screen and (max-width: 991px) {
  .tc-header-style10 .slider-card .float-box {
    padding: 30px;
    top: 40px;
    width: 230px;
  }
  .tc-header-style10 .slider-card .float-box h4 {
    font-size: 30px;
    line-height: 1.5;
  }
  .tc-header-style10 .slider-card .float-box .fsz-20 {
    font-size: 14px !important;
  }
  .tc-header-style10 .slider-card .float-box .mt-50 {
    margin-top: 20px !important;
  }
  .tc-header-style10 .slider-card .img {
    height: 550px;
  }
  .tc-header-style10 .slider-card .info {
    bottom: 60px;
  }
}
/* --------------- services style10 --------------- */
.tc-services-style10 .service-card {
  display: block;
}
.tc-services-style10 .service-card:hover .arrow {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.tc-services-style10 .service-card:hover .img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.tc-services-style10 .service-card:hover .img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.tc-services-style10 .service-card .img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-services-style10 .service-card .img img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tc-services-style10 .service-card .arrow {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  margin-top: 40px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* --------------- about style10 --------------- */
.tc-about-style10 .img {
  position: relative;
}
.tc-about-style10 .img .years-box {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 30px;
  border-bottom-left-radius: 20px;
  background-color: #f1f1f1;
}
.tc-about-style10 .img .years-box h4 {
  font-size: 70px;
  margin-bottom: 15px;
}
.tc-about-style10 .about-maquee {
  padding: 50px 0;
}
.tc-about-style10 .about-maquee a {
  font-size: 22px;
  color: #999;
  text-transform: capitalize;
  -webkit-padding-end: 100px;
          padding-inline-end: 100px;
  position: relative;
}
.tc-about-style10 .about-maquee a:hover {
  color: #000;
}
.tc-about-style10 .about-maquee a::after {
  position: absolute;
  content: "";
  right: 52px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}
.tc-about-style10 .about-maquee .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.tc-about-style10 .about-maquee .swiper-slide {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

@media screen and (max-width: 991px) {
  .tc-about-style10 .img {
    margin-bottom: 30px;
  }
  .tc-about-style10 .img .years-box {
    padding: 20px;
  }
  .tc-about-style10 .img .years-box h4 {
    font-size: 40px;
  }
}
/* --------------- cases style10 --------------- */
.tc-cases-style10 {
  background-color: #DFE3EC;
}
.tc-cases-style10 .links a,
.tc-cases-style10 .links .nav-link,
.tc-cases-style10 .nav a,
.tc-cases-style10 .nav .nav-link {
  font-size: 18px;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
  color: #777;
  text-transform: capitalize;
  padding: 0;
  background: transparent;
}
.tc-cases-style10 .links a.active, .tc-cases-style10 .links a:hover,
.tc-cases-style10 .links .nav-link.active,
.tc-cases-style10 .links .nav-link:hover,
.tc-cases-style10 .nav a.active,
.tc-cases-style10 .nav a:hover,
.tc-cases-style10 .nav .nav-link.active,
.tc-cases-style10 .nav .nav-link:hover {
  color: #000;
}
.tc-cases-style10 .case-item {
  margin-top: 30px;
  position: relative;
  display: block;
  height: 500px;
}
.tc-cases-style10 .case-item:hover .arrow {
  background-color: #000;
  color: #fff;
}
.tc-cases-style10 .case-item:hover .img {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
.tc-cases-style10 .case-item:hover .img:after {
  opacity: 0.2;
}
.tc-cases-style10 .case-item:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tc-cases-style10 .case-item .img {
  position: relative;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.tc-cases-style10 .case-item .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}
.tc-cases-style10 .case-item .img img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tc-cases-style10 .case-item .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  z-index: 10;
  color: #fff;
}
.tc-cases-style10 .case-item .arrow {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .tc-cases-style10 .links a,
.tc-cases-style10 .links .nav-link,
.tc-cases-style10 .navs a,
.tc-cases-style10 .navs .nav-link {
    font-size: 12px;
    -webkit-margin-start: 5px;
            margin-inline-start: 5px;
    font-weight: bold;
  }
  .tc-cases-style10 .case-item,
.tc-cases-style10 .th-600 {
    height: 350px !important;
  }
}
/* --------------- team style10 --------------- */
.tc-team-style10 .member-colmn {
  margin: auto;
}
.tc-team-style10 .team-card {
  position: relative;
  margin-bottom: 40px;
  display: block;
}
.tc-team-style10 .team-card:hover .img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.tc-team-style10 .team-card:hover .img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.tc-team-style10 .team-card:hover .img::after {
  opacity: 0.5;
}
.tc-team-style10 .team-card:hover .title {
  opacity: 1;
  top: 50%;
}
.tc-team-style10 .team-card:hover .img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.tc-team-style10 .team-card:hover .img img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.tc-team-style10 .team-card.team-text:hover .img {
  border-color: #000;
}
.tc-team-style10 .team-card.team-text .img {
  border: 1px solid #ccc;
}
.tc-team-style10 .team-card.team-text .img::after {
  display: none;
}
.tc-team-style10 .team-card.team-text .title {
  font-weight: 300;
  color: #000 !important;
  text-align: start;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
}
.tc-team-style10 .team-card.team-text .title .arrow {
  margin-top: 10px;
  display: block;
}
.tc-team-style10 .team-card .img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-team-style10 .team-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-team-style10 .team-card .title {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  opacity: 0;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.5;
  text-transform: capitalize;
}
.tc-team-style10 .numbers {
  padding-top: 50px;
}
.tc-team-style10 .numbers .number-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  border-top: 1px solid #ccc;
  margin-top: 50px;
}
.tc-team-style10 .numbers .number-card .perc {
  font-size: 55px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-margin-end: 25px;
          margin-inline-end: 25px;
  font-weight: 500;
  line-height: 1;
}
.tc-team-style10 .numbers .number-card p {
  font-size: 17px;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}

/* --------------- video style10 --------------- */
.tc-video-style10 {
  height: 650px;
  overflow: hidden;
}
.tc-video-style10 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 991px) {
  .tc-video-style10 {
    height: 400px;
  }
}
/* --------------- awards-clients style10 --------------- */
.tc-awards-clients-style10 .tc-awards-style10 {
  background-color: #F1EEE9;
}
.tc-awards-clients-style10 .tc-awards-style10 .awards-list {
  border-bottom: 1px solid #ccc;
}
.tc-awards-clients-style10 .tc-awards-style10 .awards-list .award-row {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  text-transform: capitalize;
}
.tc-awards-clients-style10 .tc-awards-style10 .awards-list .award-row a {
  text-decoration: underline;
}
.tc-awards-clients-style10 .tc-awards-style10 .awards-list .award-row a:hover {
  opacity: 0.5;
}
.tc-awards-clients-style10 .tc-clients-style10 {
  background-color: #27292C;
  color: #fff;
  height: 100%;
  position: relative;
}
.tc-awards-clients-style10 .tc-clients-style10 .clients-slider1 {
  position: relative;
  overflow: hidden;
}
.tc-awards-clients-style10 .tc-clients-style10 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tc-awards-clients-style10 .tc-clients-style10 .author .au-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid #fff5;
}
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-button-next,
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-button-prev {
  position: static;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
}
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-button-next::after,
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-button-prev::after {
  color: #fff;
  font-size: 12px;
}
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-pagination {
  position: static;
  margin: 0 10px;
}
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  margin: 0 5px;
}
.tc-awards-clients-style10 .tc-clients-style10 .slider-controls .swiper-pagination .swiper-pagination-bullet .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

/* --------------- blog style10 --------------- */
.tc-blog-style10 .blog-card {
  position: relative;
  margin-top: 40px;
}
.tc-blog-style10 .blog-card .img {
  height: 230px;
  overflow: hidden;
  position: relative;
}
.tc-blog-style10 .blog-card .info {
  padding-top: 30px;
}
.tc-blog-style10 .blog-card .info .tags a {
  font-size: 12px;
  color: #666;
  -webkit-padding-end: 30px;
          padding-inline-end: 30px;
  text-transform: uppercase;
  position: relative;
}
.tc-blog-style10 .blog-card .info .tags a:last-of-type::after {
  display: none;
}
.tc-blog-style10 .blog-card .info .tags a::after {
  position: absolute;
  content: "";
  right: 12px;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}

/* --------------- chat style10 --------------- */
.tc-chat-style10 {
  position: relative;
}
.tc-chat-style10 .xl-text {
  font-size: calc(10vw + 20px);
  font-weight: 500;
  position: relative;
  z-index: 10;
  line-height: 1;
}
.tc-chat-style10 .pattern {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  pointer-events: none;
}

/* --------------- footer style10 --------------- */
.tc-footer-style10 {
  background-color: #DFE3EC;
}
.tc-footer-style10 .foot-social a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  background-color: #fff;
}
.tc-footer-style10 .foot-social a:hover {
  background-color: #000;
  color: #fff;
}
.tc-footer-style10 .foot {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.tc-footer-style10 .foot .foot-links a {
  font-size: 13px;
  -webkit-margin-end: 4vw;
          margin-inline-end: 4vw;
}
.tc-footer-style10 .foot .foot-links a:last-of-type {
  margin: 0;
}

.home-style10 .borderd {
  border-color: #ccc !important;
}
.home-style10 .section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-style10 .section-padding-x {
  padding-right: 4vw;
  padding-left: 4vw;
}
.home-style10 .section-head-style10 .sub-title {
  font-size: 14px;
  color: #333;
  position: relative;
  -webkit-padding-start: 60px;
          padding-inline-start: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.home-style10 .section-head-style10 .sub-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: calc(50% - 4px);
  width: 30px;
  height: 8px;
  background-color: #888;
}
.home-style10 .section-head-style10 h2 {
  font-size: 55px;
  letter-spacing: -1px;
  font-weight: 500;
  line-height: 1.1;
}

@media screen and (max-width: 991px) {
  .home-style10 br {
    display: none;
  }
  .home-style10 .fsz-50 {
    font-size: 30px !important;
  }
  .home-style10 .fsz-40 {
    font-size: 25px !important;
  }
  .home-style10 .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-style10 .fsz-30 {
    font-size: 18px !important;
  }
  .home-style10 .mb-50 {
    margin-bottom: 30px !important;
  }
  .home-style10 .section-head-style10 .sub-title {
    margin-bottom: 15px !important;
  }
  .home-style10 .section-head-style10 h2 {
    font-size: 30px;
  }
  .home-style10 .mt-5 {
    margin-top: 2rem !important;
  }
  .home-style10 .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}